@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'roboto';
    /* src: url('Roboto-Regular.ttf'); */
    src:url('../public/Roboto-Regular.ttf')
}

html{
    font-family: 'roboto';
    font-weight:700;
    color: #080C0A;
    padding: 0 4rem;
}
