@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'roboto';
    src: url('Roboto-Regular.ttf');
}

html{
    font-family: 'roboto';
    font-weight:700;
    color: #080C0A;
    padding: 1rem 4rem;
}


@layer utilities{
    .debug{
      border: 5px solid red;
    }
    .debug-2{
      border: 5px solid blue;
    }
    .debug-3{
      border: 5px solid green;
    }
  }